In [ ]:
## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored for efficient retrieval and manipulation. It provides a way to manage and store data in a structured format.

1. SQL (Structured Query Language) databases are relational databases that use tables to store and organize data. They have a predefined schema, enforce data integrity through constraints, and use SQL for querying and manipulating data.

2. NoSQL  databases, on the other hand, provide a flexible schema design and are not based on the traditional tabular relations. They can store and retrieve data in various formats like key-value pairs, documents, graphs, or wide-column stores. NoSQL databases offer high scalability and performance, making them suitable for handling large volumes of unstructured or semi-structured data.

In [ ]:
## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of a database and its objects. It includes operations like creating tables, altering their structure, dropping tables, etc.

- CREATE: Used to create new database objects, such as tables, indexes, or views. For example:

  
  CREATE TABLE Employees (
      id INT PRIMARY KEY,
      name VARCHAR(50),
      age INT
  );

In [ ]:
## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used to manipulate data within the database. It includes operations like inserting new records, updating existing records, and deleting records.

- INSERT: Used to insert new records into a table. For example:

  ```
  INSERT INTO Employees (id, name, age) VALUES (1, 'Sarthak', 30);
  ```

- UPDATE: Used to modify existing records in a table. For example:

  ```
  UPDATE Employees SET age = 35 WHERE id = 1;
  ```

- DELETE: Used to remove records from a table. For example:

  ```
  DELETE FROM Employees WHERE id = 1;

In [ ]:
## Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to query and retrieve data from a database.

- SELECT: Used to retrieve data from one or more tables. For example:

  ```
  SELECT * FROM Employees;
  ```

  This query retrieves all columns (`*`) from the `Employees` table.

In [ ]:
## Q5. Explain Primary Key and Foreign Key.

- Primary Key: A primary key is a column or a set of columns that uniquely identifies each record in a table. It ensures the uniqueness and integrity of the data in the table. A primary key column cannot contain null values.

- Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, enforcing referential integrity. The foreign key column can have null values, indicating the absence of a relationship.

In [ ]:
## Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

```pyt
import mysql.connector

# Establishing am connection
sar = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)


# Creating a cursor object
cursor = sar.cursor()

# Executing SL queries
query = "SELECT * FROM Employees"
cursor.execute(query)

# Fetching the result
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
sar.close()
```

- `cursor()`: The `cursor()` method creates a cursor object, which allows you to execute SQL queries and fetch the results.

- `execute()`: The `execute()` method is used to execute SQL queries. You pass the query as a parameter to this method.

In [ ]:
## Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution for SQL clauses in a query is as follows:

1. FROM
2. JOIN
3. WHERE
4. GROUP BY
5. HAVING
6. SELECT
7. DISTINCT
8. ORDER BY
9. LIMIT
10. OFFSET