Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
a = 'My name is Sarthak and I am from Delhi'
print(type(a))

b = ['a', 'hello', 123, 123.45, "Hello everyone"]
print(type(b))

c = 132.3242
print(type(c))

d =  ("apple", "banana", "cherry", 23)
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [ ]:
(i) str
(ii) list
(iii) float 
(iv) int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [8]:
# (i) The / operator is used for division
print(5 / 2)

# (ii) The % operator is used for modulus. It returns the remainder of the division of the first operand by the second operand
print(5%2)

#(iii) The // operator is used for floor division. It divides the first operand by the second operand and returns the integer part of the resul
print(5 // 2)

# (iv) The ** operator is used for exponentiation. It raises the first operand to the power of the second operans
print(2**4)

2.5
1
2
16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
l1 = [12,13,"hello",12.32, "ok hi", "mango", False, True, 9, 10,69]

for i in l1:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'int'>
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [26]:
A = 100
B = 5
count = 0

while A % B == 0:
    A = A / B
    count += 1

print(f"Number A is divisible by number B {count} times.")

Number A is divisible by number B 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [20]:
a = [a for a in range(25)]
print(a)
for number in a:
    if number % 3 == 0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable : Mutable data types can have their contents changed after they are created.
Immutable : Immutable data types can have their contents cannot be changed after they are created.

In [21]:
# Mutable

a = [12,13,14,15,"Sale"]  # List example
a[1] = 60 # We changed the value at Index Position 1 to the value 60 because it is an Mutable data type.
print(a)

[12, 60, 14, 15, 'Sale']

In [ ]:
# Immutable 

b = ("Hello", 12, 14 , 14232.2) # Tuple example
b(1) == 2 # We cannot change the value of the Tuple as it is an Immutable data type.
print(b)