Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [1]:
tup = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sort_func = lambda x: [print(i) for i in x]

sort_func(tup)

('Sachin Tendulkar', 34357)
('Ricky Ponting', 27483)
('Jack Kallis', 25534)
('Virat Kohli', 24936)

[None, None, None, None]

#NOTE
--> I TRIED THE ABOVE CODE ON - PYCHARM & ONLINE PYTHON INTERPRETER I AM GETTING THE EXACT OUTPUT. BUT ON JUPYTER NOTEBOOK, I'M GETTING THAT 
[NONE] list item

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

In [5]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

square = list(map(lambda x: x ** 2, l))

print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

In [6]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

str_tup = tuple(map(lambda x: str(x), l1))

print(str_tup)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [7]:
l1 = []

for i in range(0,26):
    l1.append(i)
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [8]:
from functools import reduce
reduce(lambda x, y : x*y, l)

3628800

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [9]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filt_num = list(filter(lambda x : x % 2 == 0 and x % 3 == 0 ,l))

print(filt_num)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
l1 =['python', 'php', 'aba', 'radar', 'level']

In [10]:
l1 =['python', 'php', 'aba', 'radar', 'level']

palindroome = list(filter(lambda x: x == x[::-1], l1))

print(palindroome)

['php', 'aba', 'radar', 'level']